@model CumulativeProject.Models.Teacher


@{
    ViewBag.Title = "Show";
}

<h2> @Model.TeacherFname @Model.TeacherLname </h2>
<p>@Model.TeacherFname's Teacher ID is @Model.TeacherId</p>
<p>@Model.TeacherFname's Employee Number is @Model.EmployeeNumber</p>
<p>@Model.TeacherFname's salary is $@Model.Salary per hour</p>
<p>@Model.TeacherFname was hired on @Model.HireDate</p>
